@font-face {
  font-family: "Helvetica";
  src: url(/assets/fonts/Helvetica/helvetica_regular.otf);
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0 20px;
}

@media (min-width: 375px) {
  .col-mobile-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-mobile-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-mobile-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-mobile-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 343px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .col-desktop-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-desktop-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-desktop-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-desktop-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-desktop-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-desktop-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-desktop-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-desktop-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-desktop-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-desktop-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-desktop-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-desktop-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
  }
}
html {
  font-feature-settings: "clig" off, "liga" off;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

@media (min-width: 375px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar {
    margin-top: 8px;
  }
  .navbar-row {
    display: flex;
    justify-content: space-between;
  }
  .navbar-box {
    display: none;
  }
  .navbar .burger {
    margin-top: 14px;
    transition: all 0.3s ease;
    right: 16px;
    top: 22px;
    width: 24px;
    height: 12px;
    background: url(/assets/images/burger.svg) no-repeat center 0/contain;
  }
  .navbar .burger:hover {
    transform: scale(1.2);
  }
  .navbar .burger:active {
    transform: scale(1);
  }
  .navbar .burger-menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  .navbar .burger-close-btn {
    transition: all 0.3s ease;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    right: 16px;
    top: 22px;
    background: url(/assets/images/close_btn.svg) no-repeat center 0/contain;
  }
  .navbar .burger-close-btn:hover {
    transform: scale(1.2);
  }
  .navbar .burger-close-btn:active {
    transform: scale(1);
  }
  .navbar .burger-list {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .navbar .burger-list-item {
    font: 400 normal 32px/1.4 "Roboto";
  }
  .header-page {
    margin-top: 20px;
  }
  .header-page-row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .header-page-content {
    display: flex;
  }
  .header-page-title {
    font: 400 normal 32px/1.2 "Helvetica";
    text-transform: uppercase;
  }
  .header-page-link {
    margin-top: 24px;
  }
  .header-page-link a {
    transition: all 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 6px;
    font: 400 normal 18px "Roboto";
  }
  .header-page-link a:hover {
    color: #ddd7c0;
  }
  .header-page-link a:active {
    color: #cbc6b2;
  }
  .header-page-img {
    margin-top: 24px;
  }
  .header-page-text {
    font: 400 normal 16px/1.4 "Roboto";
  }
  .title {
    font: 400 normal 28px/normal "Helvetica";
  }
  .about-us {
    margin-top: 48px;
  }
  .about-us-text {
    margin-top: 20px;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .about-us-text:not(:first-child) {
    margin-top: 16px;
  }
  .about-us .stats {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .about-us .stats li {
    width: 161px;
  }
  .about-us .stats-subtitle {
    font: 400 normal 24px/normal "Helvetica";
  }
  .about-us .stats-text {
    font: 400 normal 16px/1.4 "Roboto";
  }
  hr {
    margin: 0;
  }
  .steps {
    margin-top: 48px;
  }
  .steps-row {
    display: flex;
    flex-direction: column;
  }
  .steps-text {
    width: 342px;
    margin-top: 20px;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .steps-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
  }
  .steps-card-title {
    font: 400 normal 24px/normal "Helvetica";
  }
  .steps-card-text {
    margin-top: 20px;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .projects {
    margin-top: 48px;
  }
  .projects-img-box {
    width: 343px;
    overflow-y: scroll;
    margin-top: 20px;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .projects-img-box::-webkit-scrollbar {
    width: 0;
  }
  .projects-card {
    position: relative;
  }
  .projects-text {
    font: 400 normal 16px/1.4 "Roboto";
    color: #fff;
  }
  .projects-text-box {
    transition: all 0.3s ease;
    position: absolute;
    box-sizing: border-box;
    display: block;
    width: 252px;
    padding: 11px 12px;
    background: rgba(33, 37, 41, 0.5);
    bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonials {
    margin-top: 48px;
  }
  .testimonials-card {
    box-sizing: border-box;
    padding: 32px 32.5px 37px 32.5px;
    border: 1px solid #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonials-card-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }
  .testimonials-author {
    text-align: center;
    margin-top: 32px;
    font: 400 normal 18px/normal "Helvetica";
  }
  .testimonials-text {
    text-align: center;
    margin-top: 20px;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .form {
    margin-top: 48px;
  }
  .form-text {
    margin-top: 20px;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .form .btn-box {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-input {
    padding: 0;
    padding-bottom: 12px;
    border: 0;
    font: 400 normal 16px/normal "Roboto";
    border-bottom: 1px solid #212529;
  }
  .form-input:focus {
    border-bottom: 1px solid #ddd7c0;
  }
  .form-input::placeholder {
    color: #212529;
    font: inherit;
  }
  .form-btn {
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    padding: 12px 20px;
    font: 400 normal 16px/1.4 "Roboto";
    color: white;
    border: 0;
    background-color: #212529;
  }
  .form-btn:hover {
    background-color: #ddd7c0;
    color: #212529;
  }
  .form-btn:active {
    background-color: #cbc6b2;
  }
  .form .stores-btn svg {
    transition: all 0.3s ease;
  }
  .form .stores-btn-box {
    margin-top: 28px;
    display: flex;
    gap: 8px;
  }
  .form .stores-btn:hover svg {
    transition: all 0.3s ease;
    background-color: grey;
    box-shadow: 0 0 15px 0px grey;
  }
  .footer {
    padding-bottom: 20px;
    margin-top: 60px;
  }
  .footer-row {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-info {
    font: 400 normal 18px/normal "Roboto";
    text-transform: uppercase;
    text-align: center;
  }
  .footer-info:first-child {
    margin-top: 28px;
  }
  .footer-text {
    transition: all 0.3s ease;
    text-align: center;
    font: 400 normal 16px/1.4 "Roboto";
  }
  .footer-text:hover {
    color: #ddd7c0;
  }
  .footer-text:active {
    color: #cbc6b2;
  }
  .footer-text-box {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-text-box .social {
    display: flex;
    gap: 40px;
  }
  .footer-text-box .social-network {
    transition: all 0.3s ease;
    font: 400 normal 18px/normal "Roboto";
  }
  .footer-text-box .social-network:hover {
    color: #ddd7c0;
  }
  .footer-text-box .social-network:active {
    color: #cbc6b2;
  }
  .footer-text:nth-child(2) {
    display: none;
  }
  .footer-text:nth-child(3) {
    margin-top: 8px;
  }
}
@media (min-width: 1440px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .navbar {
    margin-top: 12px;
  }
  .navbar-row {
    justify-content: start;
  }
  .navbar-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font: 400 normal 18px "Roboto";
    color: #212529;
  }
  .navbar-list-item {
    transition: all 0.3s ease;
  }
  .navbar-list-item:hover {
    color: #ddd7c0;
  }
  .navbar-list-item:active {
    color: #cbc6b2;
  }
  .navbar-link {
    transition: all 0.3s ease;
    font: 400 normal 18px/normal "Roboto";
  }
  .navbar-link-box {
    display: flex;
    justify-content: end;
  }
  .navbar-link:hover {
    color: #ddd7c0;
  }
  .navbar-link:active {
    color: #cbc6b2;
  }
  .header-page {
    margin-top: 40px;
  }
  .header-page-row {
    margin-top: 40px;
    flex-direction: row;
  }
  .header-page-content {
    display: flex;
    flex-direction: column;
    gap: 232px;
  }
  .header-page-title {
    font: 400 normal 72px/1.2 "Helvetica";
  }
  .header-page-link {
    margin-top: 0;
    text-align: end;
    align-self: end;
  }
  .header-page-img {
    margin-top: 0px;
  }
  .header-page-text {
    padding-right: 240px;
    font: 400 normal 20px/1.4 "Roboto";
  }
  .title {
    font: 400 normal 48px/normal "Helvetica";
    padding-right: 97px;
  }
  .about-us {
    margin-top: 120px;
  }
  .about-us-text {
    margin-top: 29px;
    padding-right: 230px;
  }
  .about-us .stats {
    margin-top: 44px;
    gap: 24px;
  }
  .about-us .stats li {
    width: 146px;
  }
  .about-us .stats-subtitle {
    font: 400 normal 36px/normal "Helvetica";
  }
  .steps {
    margin-top: 120px;
  }
  .steps-row {
    display: flex;
    flex-direction: row;
  }
  .steps-text {
    width: 325px;
    margin-top: 22px;
  }
  .steps-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 24px 0;
  }
  .steps-card:nth-child(2) {
    margin-top: 20px;
  }
  .steps-card-title {
    font: 400 normal 36px/normal "Helvetica";
    width: 328px;
  }
  .steps-card-text {
    margin-top: 12px;
    width: 329px;
  }
  .projects {
    margin-top: 120px;
  }
  .projects-img-box {
    width: auto;
    margin-top: 32px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .projects-card {
    overflow: hidden;
  }
  .projects-card:hover .projects-text-box {
    bottom: 4px;
  }
  .projects-text-box {
    width: 445px;
    padding: 22px 20px;
    bottom: -66.4px;
  }
  .testimonials {
    margin-top: 120px;
  }
  .testimonials-card {
    padding: 40px 40px 60px 40px;
  }
  .testimonials-card-box {
    flex-direction: row;
    margin-top: 32px;
  }
  .form {
    margin-top: 120px;
  }
  .form-img {
    display: block;
  }
  .form-text {
    margin-top: 32px;
  }
  .form .btn-box {
    margin-top: 72px;
  }
  .form-input {
    width: 562px;
  }
  .form-btn {
    margin-top: 24px;
  }
  .form .stores-btn svg {
    transition: all 0.3s ease;
  }
  .form .stores-btn-box {
    margin-top: 40px;
  }
  .footer {
    padding-bottom: 16px;
    margin-top: 120px;
  }
  .footer-row {
    flex-direction: row;
  }
  .footer-info {
    text-align: start;
  }
  .footer-info:first-child {
    margin-top: 0;
  }
  .footer-text-box {
    margin-top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: end;
  }
  .footer-text-box .social {
    display: flex;
  }
  .footer-text-box .social-network {
    transition: all 0.3s ease;
    font: 400 normal 18px/normal "Roboto";
  }
  .footer-text-box .social-network:hover {
    color: #ddd7c0;
  }
  .footer-text-box .social-network:active {
    color: #cbc6b2;
  }
  .footer-text:nth-child(2) {
    display: inline;
  }
  .footer-text:nth-child(3) {
    margin-top: 0px;
  }
}